h1 {
  color: blue;
}

#DexterWebWidget .DexterWebWidget-toggle { display: none !important; }

#DexterWebWidget .DexterWidget .MessagePanel-header--VPTA5 h1 { color: #000; }

@media only screen and (max-width: 600px) {
  #DexterWebWidget .DexterWebWidget-toggle { display: none !important; }
  .DexterMessagePanel-header-closeIcon svg { display: none; }
}
