h1 {
  color: blue;
}

#DexterWebWidget .DexterWebWidget-toggle { display: none !important; }

/* @media only screen and (max-width: 600px) {
  #DexterWebWidget .DexterWebWidget-toggle { display: none !important; }
/*   svg { display: none; } */
/* } */
