h1 {
  color: blue;
}

#DexterWebWidget .DexterWebWidget-toggle { display: none !important; }

.DexterWidget--HVqxk .MessagePanel-header--VPTA5 h1 { 
  color: #832a2b !important;
  font-weight: bold;
} 

.DexterWidget--HVqxk .MessagePanel-message--user--1EBT8 { background-color: #832a2b !important; }

@media only screen and (max-width: 600px) {
  #DexterWebWidget .DexterWebWidget-toggle { display: none !important; }
  .DexterMessagePanel-header-closeIcon svg { display: none; }
}
